# IDR Drop

Implements batch tasks used for IDR drops.

In [1]:
import pandas as pd
import numpy as np
import IDRdrop
import json
import os
print('imported modules successfully.')

imported modules successfully.

# Show downloaded files from EPO portal

Here *filepath* is a directory containing downloaded EPO files. Code will print 20 most recent files.

In [2]:
readpath = '/home/jupyter-engiela/la-tools-test/IDR_Drop/Raw_IDR'

myfiles = IDRdrop.show_dir(readpath, 20)
print(myfiles)

files found in dir:  /home/jupyter-engiela/la-tools-test/IDR_Drop/Raw_IDR
                                               files                time
0  ngrid_227b4bfa-0bd2-44d2-bbeb-17af36a5c5df_4ea... 2019-09-01 19:49:19
1                                           init.git 2019-09-01 19:49:19

Choose files to split into Raw IDR files.

In [3]:
index = [0]

splitfiles = list(myfiles.files[index])
print('files to split: ')
print(splitfiles)

files to split:
['ngrid_227b4bfa-0bd2-44d2-bbeb-17af36a5c5df_4ea950cd_hourlycsv.csv']

## Batch process downloaded EPO files into Raw IDRs

In [4]:
readpath = '/home/jupyter-engiela/la-tools-test/IDR_Drop/Raw_IDR'
writepath = '/home/jupyter-engiela/la-tools-test/IDR_Drop/Raw_IDR'
utility = 'MECO'
error_log = []

for file in splitfiles:
    try:
        os.chdir(readpath)
        filedf = pd.read_csv(file, sep = ",", header = 0)
    
        IDRdrop.raw_split(filedf, readpath, writepath, utility)
        print('success, file: ', file)
        
    except:
        error_log = error_log.append(file)
        print('error, file: ', file)

found 4 accounts.
0021483009_MECO_IDR_RAW.csv  written.
0021638013_MECO_IDR_RAW.csv  written.
0040677012_MECO_IDR_RAW.csv  written.
0043496028_MECO_IDR_RAW.csv  written.
success, file:  ngrid_227b4bfa-0bd2-44d2-bbeb-17af36a5c5df_4ea950cd_hourlycsv.csv

## Show Raw IDR files based on utility

Here *rawpath* is directory containing Raw IDRs - 25 most recent will be shown.

In [5]:
rawfiles = IDRdrop.show_dir(writepath, 20)
print(rawfiles)

files found in dir:  /home/jupyter-engiela/la-tools-test/IDR_Drop/Raw_IDR
                                               files                time
0                        0021483009_MECO_IDR_RAW.csv 2019-09-01 21:20:57
1                        0040677012_MECO_IDR_RAW.csv 2019-09-01 21:20:57
2                        0021638013_MECO_IDR_RAW.csv 2019-09-01 21:20:57
3                        0043496028_MECO_IDR_RAW.csv 2019-09-01 21:20:57
4  ngrid_227b4bfa-0bd2-44d2-bbeb-17af36a5c5df_4ea... 2019-09-01 19:49:19
5                                           init.git 2019-09-01 19:49:19

Choose Raw IDRs to filter into IDR files.

In [6]:
index = [3]

processfiles = rawfiles.files[:4]
files = list(processfiles)
print('files to process: ')
print(processfiles)

files to process:
0    0021483009_MECO_IDR_RAW.csv
1    0040677012_MECO_IDR_RAW.csv
2    0021638013_MECO_IDR_RAW.csv
3    0043496028_MECO_IDR_RAW.csv
Name: files, dtype: object

## Batch filter Raw IDR into IDR files to be dropped

In [7]:
writepath = '/home/jupyter-engiela/la-tools-test/IDR_Drop/IDR'
error_log = []

for dropfile in files:
    try:
        IDRdrop.data_drop(dropfile, readpath, writepath)
        print('success, file: ', dropfile)
    
    except:
        try:
            error_log = error_log.append(dropfile)
            print("error, file: ", dropfile)
        except:
            pass

success, file:  0021483009_MECO_IDR_RAW.csv
success, file:  0040677012_MECO_IDR_RAW.csv
success, file:  0021638013_MECO_IDR_RAW.csv
success, file:  0043496028_MECO_IDR_RAW.csv

In [13]:
type(error_log)
error_log

[]

### Change meters to vertical

In [8]:
data_dir = '/home/jupyter-engiela/la-tools-test/IDR_Drop/IDR'
os.chdir(data_dir)
idr = IDRdrop.show_dir(data_dir, 10)
idr

files found in dir:  /home/jupyter-engiela/la-tools-test/IDR_Drop/IDR

                     files                time
0  0043496028_MECO_IDR.csv 2019-09-01 21:21:14
1  0021483009_MECO_IDR.csv 2019-09-01 21:21:14
2  0021638013_MECO_IDR.csv 2019-09-01 21:21:14
3  0040677012_MECO_IDR.csv 2019-09-01 21:21:14
4                 init.git 2019-09-01 07:34:09

In [10]:
myfiles = idr.files[:4]
for f in myfiles:
    IDRdrop.hor_to_vert(f)

transformed and wrote 0043496028_MECO_IDR.csv to 0043496028_MECO_IDR_vert.csv.
transformed and wrote 0021483009_MECO_IDR.csv to 0021483009_MECO_IDR_vert.csv.
transformed and wrote 0021638013_MECO_IDR.csv to 0021638013_MECO_IDR_vert.csv.
transformed and wrote 0040677012_MECO_IDR.csv to 0040677012_MECO_IDR_vert.csv.

In [15]:
a = pd.read_csv('0043496028_MECO_IDR_vert.csv', header = None)
a.columns = ['t', 'v']
a.plot(y = 'v')

          t      v
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
9595  False   True
9596  False   True
9597  False   True
9598  False   True
9599  False   True

[9600 rows x 2 columns]

In [16]:
a.fillna(method = 'pad', limit = 5)
a.isna()

          t      v
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
9595  False   True
9596  False   True
9597  False   True
9598  False   True
9599  False   True

[9600 rows x 2 columns]