# PSNH IDR Split

In [2]:
import pandas as pd
import numpy as np
import IDRdrop
import json
import os
print('imported modules successfully.')

imported modules successfully.

## Show downloaded files from EPO portal

In [66]:
readpath = "C:\\Users\\wb5888\\Downloads"

myfiles = IDRdrop.show_dir(readpath, 10)
print(myfiles)

files found in dir:  C:\Users\wb5888\Downloads
                                               files                time
0                           PSNH_80044561043_IDR.csv 2019-11-26 11:38:07
1                           PSNH_80044560474_IDR.csv 2019-11-26 11:38:07
2                           PSNH_80044560557_IDR.csv 2019-11-26 11:38:07
3                           PSNH_80044560631_IDR.csv 2019-11-26 11:38:07
4                           PSNH_80044560979_IDR.csv 2019-11-26 11:37:08
5                           PSNH_80044560896_IDR.csv 2019-11-26 11:37:08
6                           PSNH_80044560714_IDR.csv 2019-11-26 11:37:08
7  eversource_a3decdf6-1c63-48cc-8f56-cc0143a1a8e... 2019-11-26 09:36:27
8  eversource_a3decdf6-1c63-48cc-8f56-cc0143a1a8e... 2019-11-26 09:36:05
9  ngrid_5c9a1754-ce12-4b22-b433-1b781bf70403_e80... 2019-11-22 15:41:57

In [70]:
dl = myfiles.files[[8]]
dl[8]

'eversource_a3decdf6-1c63-48cc-8f56-cc0143a1a8e1_1bbff65c_hourly.csv'

In [50]:
files = ['PSNH_80044561043_IDR.csv', 'PSNH_80044560474_IDR.csv', 'PSNH_80044560557_IDR.csv', 'PSNH_80044560631_IDR.csv']

In [51]:
other = ['PSNH_80044560714_IDR.csv', 'PSNH_80044560896_IDR.csv', 'PSNH_80044560979_IDR.csv']

## Split downloaded into separate files

In [68]:
def psnh_split(data, filenames):
    
    master = pd.read_csv(data, header = None, names = list('abcdef'))
    subset = np.where(master.a == 'Customer Name')[0]
    subset = [a for a in subset]
    n = len(master.a)
    subset.append(n)
    m = len(subset)

    for j, index in enumerate(subset):
        if j < m-1:
            subset_df = master.iloc[subset[j]:subset[(j+1)],:]
            print(subset_df.head())
            print(filenames[j])
            subset_df.to_csv(filenames[j], header = None, index = None)
            print('wrote {}.'.format(filenames[j]))

In [71]:
psnh_split(dl[8], files)

                  a           b    c    d    e    f
0     Customer Name    KOHLS 10  NaN  NaN  NaN  NaN
1    Account Number  8004456 10  NaN  NaN  NaN  NaN
2       Recorder ID   G75043923  NaN  NaN  NaN  NaN
3  Service Address1         NaN  NaN  NaN  NaN  NaN
4  Service Address2         NaN  NaN  NaN  NaN  NaN
PSNH_80044561043_IDR.csv
wrote PSNH_80044561043_IDR.csv.
                     a           b    c    d    e    f
9584     Customer Name     KOHLS 5  NaN  NaN  NaN  NaN
9585    Account Number  8004456 05  NaN  NaN  NaN  NaN
9586       Recorder ID   W21112294  NaN  NaN  NaN  NaN
9587  Service Address1         NaN  NaN  NaN  NaN  NaN
9588  Service Address2         NaN  NaN  NaN  NaN  NaN
PSNH_80044560474_IDR.csv
wrote PSNH_80044560474_IDR.csv.
                      a           b    c    d    e    f
18904     Customer Name     KOHLS 4  NaN  NaN  NaN  NaN
18905    Account Number  8004456 04  NaN  NaN  NaN  NaN
18906       Recorder ID   W21243793  NaN  NaN  NaN  NaN
18907  Service Address1         NaN  NaN  NaN  NaN  NaN
18908  Service Address2         NaN  NaN  NaN  NaN  NaN
PSNH_80044560557_IDR.csv
wrote PSNH_80044560557_IDR.csv.
                      a           b    c    d    e    f
28055     Customer Name     KOHLS 6  NaN  NaN  NaN  NaN
28056    Account Number  8004456 06  NaN  NaN  NaN  NaN
28057       Recorder ID   W21475487  NaN  NaN  NaN  NaN
28058  Service Address1         NaN  NaN  NaN  NaN  NaN
28059  Service Address2         NaN  NaN  NaN  NaN  NaN
PSNH_80044560631_IDR.csv
wrote PSNH_80044560631_IDR.csv.

In [46]:
for j, index in enumerate(subset):
    if j < m-1:
        subset_df = master.iloc[subset[j]:subset[(j+1)],:]
        subset_df.to_csv()

                  a           b    c    d    e    f
0     Customer Name     KOHLS 7  NaN  NaN  NaN  NaN
1    Account Number  8004456 07  NaN  NaN  NaN  NaN
2       Recorder ID   W21243639  NaN  NaN  NaN  NaN
3  Service Address1         NaN  NaN  NaN  NaN  NaN
4  Service Address2         NaN  NaN  NaN  NaN  NaN
               a      b                c                d  e  f
9315  11/06/2019  20:00  83.399997711182  32.399997711182  0  0
9316  11/06/2019  21:00  83.519996643066  31.799999237061  0  0
9317  11/06/2019  22:00  47.759998321533  32.159999847412  0  0
9318  11/06/2019  23:00  34.079999923706  31.679999351501  0  0
9319  11/07/2019  00:00  33.360000610352  31.799999237061  0  0
                     a           b    c    d    e    f
9320     Customer Name     KOHLS 8  NaN  NaN  NaN  NaN
9321    Account Number  8004456 08  NaN  NaN  NaN  NaN
9322       Recorder ID   W21243602  NaN  NaN  NaN  NaN
9323  Service Address1         NaN  NaN  NaN  NaN  NaN
9324  Service Address2         NaN  NaN  NaN  NaN  NaN
                a      b                c                d  e  f
18899  11/17/2019  20:00  85.199996948242  35.219999313354  0  0
18900  11/17/2019  21:00  85.020000457764   35.39999961853  0  0
18901  11/17/2019  22:00  85.259998321533  35.159999847412  0  0
18902  11/17/2019  23:00  84.900001525879  35.279998779297  0  0
18903  11/18/2019  00:00    61.1399974823  37.919998168945  0  0
                      a           b    c    d    e    f
18904     Customer Name     KOHLS 9  NaN  NaN  NaN  NaN
18905    Account Number  8004456 09  NaN  NaN  NaN  NaN
18906       Recorder ID   W21243858  NaN  NaN  NaN  NaN
18907  Service Address1         NaN  NaN  NaN  NaN  NaN
18908  Service Address2         NaN  NaN  NaN  NaN  NaN
                a      b                 c                d  e  f
28074  10/31/2019  20:00  138.419998168945  44.639999389648  0  0
28075  10/31/2019  21:00               138  44.219999313354  0  0
28076  10/31/2019  22:00  137.879997253418  43.920000076294  0  0
28077  10/31/2019  23:00   85.679996490479  54.719999313354  0  0
28078  11/01/2019  00:00   74.520000457764  54.839998245239  0  0

In [28]:
kohls

array([    0,  9320, 18904], dtype=int64)

In [25]:
master.iloc[kohls[0]-6:kohls[1]-6,:]

                     a           b                c                d    e    f
0        Customer Name     KOHLS 7              NaN              NaN  NaN  NaN
1       Account Number  8004456 07              NaN              NaN  NaN  NaN
2          Recorder ID   W21243639              NaN              NaN  NaN  NaN
3     Service Address1         NaN              NaN              NaN  NaN  NaN
4     Service Address2         NaN              NaN              NaN  NaN  NaN
...                ...         ...              ...              ...  ...  ...
9315        11/06/2019       20:00  83.399997711182  32.399997711182    0    0
9316        11/06/2019       21:00  83.519996643066  31.799999237061    0    0
9317        11/06/2019       22:00  47.759998321533  32.159999847412    0    0
9318        11/06/2019       23:00  34.079999923706  31.679999351501    0    0
9319        11/07/2019       00:00  33.360000610352  31.799999237061    0    0

[9320 rows x 6 columns]