# GS Loader

In [15]:
import pandas as pd
import numpy as np
import matplotlib as plt
import datetime as dt
import xlrd
import os
import json
os.getcwd()

'C:\\Users\\wb5888\\Documents\\la-tools-test\\GS'

In [16]:
gs_template = pd.read_excel('GS_template.xls')
gs_template.head()

,MARKET,DISCO_CODE,LDC_ACCOUNT_NUMBER,IDR_SCALAR,RATE_CLASS,RATE_SUBCLASS,LOSS_CLASS,ZONE,BUS,STRATA_VARIABLE,...,INTERMEDIATE USAGE,TOTAL USAGE_KWH,USAGE UOM,METER READ TYPE,ON-PEAK DEMAND,OFF-PEAK DEMAND,INTERMEDIATE DEMAND,TOTAL DEMAND_KW,DEMAND UOM,CURRENT_RATE_OPTION
0,NaN,NaN,NaN,SCALAR,NaN,NaN,NaN,SEMA,NaN,NaN,...,NaN,NaN,KWH\n,H,NaN,NaN,NaN,0,KW\n,NaN
1,NaN,NaN,NaN,SCALAR,NaN,NaN,NaN,SEMA,NaN,NaN,...,NaN,NaN,KWH\n,H,NaN,NaN,NaN,0,KW\n,NaN
2,NaN,NaN,NaN,SCALAR,NaN,NaN,NaN,SEMA,NaN,NaN,...,NaN,NaN,KWH\n,H,NaN,NaN,NaN,0,KW\n,NaN
3,NaN,NaN,NaN,SCALAR,NaN,NaN,NaN,SEMA,NaN,NaN,...,NaN,NaN,KWH\n,H,NaN,NaN,NaN,0,KW\n,NaN
4,NaN,NaN,NaN,SCALAR,NaN,NaN,NaN,SEMA,NaN,NaN,...,NaN,NaN,KWH\n,H,NaN,NaN,NaN,0,KW\n,NaN

In [17]:
n = gs_template.shape[0]
market = 'NEPOOL'
disco = 'MECO'
ldc = 123456789
idr = False
rate = 'G2'
loss = 'G2'
profile = 'G2'
mrc = 10
cap_tag = 15.87
tpt = 0

fname = ''.join(['GS_', market, '_', disco, '_', str(ldc), '.xls'])

In [18]:
fname

'GS_NEPOOL_MECO_123456789.xls'

In [35]:
month = today.month
day = today.day
year = today.year

In [28]:
today = dt.datetime.today()
stop_dates = []

if today.day >= mrc:
    

for i in range(n):
    stop_date = stop_dates[i-1] - dt.timedelta(days = 30)

datetime.datetime(2019, 12, 23, 14, 41, 8, 516430)

In [39]:
if today.day >= mrc:
    last_date = dt.datetime.strftime()
    
for i in range(n):
    stop_date = stop_dates[i-1] - dt.timedelta(days = 30)

TypeError: strptime() takes no keyword arguments